{%extends 'base.html'%}

{%block main%}

<div class="row mt-4" style="width: 100%;">
    <div class="col-3"></div>
    <div class="col-6 p-5 border shadow rounded-1">
        <h3>Add new Lead</h3>
        <form action="" method="post" class="row mt-3">
            {%csrf_token%}
    
            <div class="col-6 mt-3">
                <label for="" class="form-label">Name</label>
                <input name="name" type="text" class="form-control">
            </div>
            <div class="col-6 mt-3">
                <label for="" class="form-label">Email</label>
                <input name="email" type="email" class="form-control">
            </div>
            <div class="col-6 mt-3">
                <label for="" class="form-label">Phone</label>
                <input name="phone_number" type="text" class="form-control">
            </div>
            <div class="col-6 mt-3">
                <label for="" class="form-label">Status</label>
                {{form.status}}
            </div>
            <div class="col-6 mt-3">
                <label for="" class="form-label">Source</label>
                {{form.source}}
            </div>
            <div class="col-3 mt-3"></div>
            <div class="col-3 mt-3 d-flex justify-content-end align-items-end"><button type="submit" class="btn btn-primary " style="width: 100%;">Add Lead</button></div>
        </form>
    </div>
    <div class="col-3"></div>
</div>

    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table table-dark table-striped align-middle">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Source</th>
                    <th>Action</th>
                </tr>

                {%for l in data%}

                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{l.name}}</td>
                    <td>{{l.email}}</td>
                    <td>{{l.phone_number}}</td>
                    <td>{{l.status}}</td>
                    <td>{{l.source}}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{%url 'edit_lead' l.id%}">Update</a>
                        <a class="btn btn-outline-danger" href="{%url 'delete_lead' l.id%}">Delete</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-2"></div>
    </div>

{%endblock%}